<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8">

	<title>RPSLS</title>

	<link rel="stylesheet" href="styles.css">


</head>

<body>
<h2>Get Ready To: </h2>
<h1>Rock, Paper, Scissors, Lizard, Spock</h1>

<p>A steam-powered bot has challenged you to a game.
	 <strong>Rock</strong> beats <strong>Scissors</strong> & <strong>Lizard</strong> & <strong>Spock</strong>, <strong>Scissors</strong> beats <strong>Paper</strong> & <strong>Lizard</strong>,<strong>Paper</strong> beats <strong>Rock</strong>,<strong>Lizard</strong> beats <strong>Spock</strong> and <strong>Paper</strong>, and <strong>Spock</strong> beats <strong>Scissors</strong>.</p>

<form action="/scoreboard" method="POST">
<div class="scoreboard">

  <h2>Scoreboard</h2>
	<ul>

	<table class="messages">
    <tbody>
      <tr class="message">
        <td id="playerScore"></td>
        <td id="computerScore"></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>You</th>
        <th>Bot</th>
      </tr>
    </tfoot>
  </table>
</ul>
</div>

<h2>Choose Wisely</h2>

<button id="rock"> <img src="rock.png"  class="rpsls" alt=""> </button>

<button id="paper"> <img src="paper.png" class="rpsls" alt=""> </button>

<button id="scissors"> <img src="scissors.png" class="rpsls" alt=""> </button>

<button id="lizard"> <img src="lizard.png" class="rpsls" alt=""> </button>

<button id="spock"> <img src="spock.png" class="rpsls" alt=""> </button>

<div id="status"></div>
<div id="weaponsUsed">
		<h3>Result & Weapons</h3>

</div>
</form>

<script src="main.js"></script>
</body>

</html>
<!-- <!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8">

	<title>Rock, Paper,Scissors, Lizard, Spock</title>

	<link rel="stylesheet" href="css/main.css">


</head>

<body>
<h2>Get Ready To: </h2>
<h1>Rock, Paper, Scissors, Lizard, Spock</h1>

<p>A steam-powered bot has challenged you to a game.
	 <strong>Rock</strong> beats <strong>Scissors</strong> & <strong>Lizard</strong> & <strong>Spock</strong>, <strong>Scissors</strong> beats <strong>Paper</strong> & <strong>Lizard</strong>,<strong>Paper</strong> beats <strong>Rock</strong>,<strong>Lizard</strong> beats <strong>Spock</strong> and <strong>Paper</strong>, and <strong>Spock</strong> beats <strong>Scissors</strong>.</p>

<div class="scoreboard">
  <h2>Scoreboard</h2>
  <table>
    <tbody>
      <tr>
        <td id="playerScore">0</td>
        <td id="computerScore">0</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>You</th>
        <th>Bot</th>
      </tr>
    </tfoot>
  </table>
</div>

<h2>Choose Wisely</h2>

<button id="rock">Rock</button>

<button id="paper">Paper</button>

<button id="scissors">Scissors</button>

<button id="lizard">Lizard</button>

<button id="spock">Spock</button> -->
 <!-- <img src="rpsls.png" class="anime" alt=""> -->
<!-- <div id="status"></div>
<div id="weaponsUsed">
		<h3>Result & Weapons</h3>

</div>
<script src="js/main.js"></script>
</body>

</html> -->
